/*---------------------------------
header.jsxファイルCSS
----------------------------------*/
header {
  /* text-align: center; */
  padding: 8px 0;
  padding-left: 10px;
  margin-bottom: 50px;
  /* background-color: #a578df; */
  background-color: white;
  border-bottom: 5px solid #a578df;
}

.header section {
  display: flex;
  justify-content: space-between;
}

.homeMenu p {
  font-size: 40px;
}

.headerImage {
  width: 40%;
  height: 100%;
}

/*---------------------------------
camera.jsxファイルCSS
----------------------------------*/
.videocontainer {
  transform: scaleX(-1);
}

.camera {
  position: absolute;
  right: -5%;
  bottom: -0.3%;
  z-index: 10000;
}
